.App {
  text-align: center;
 
  overflow-x: hidden; /* Oculta el espacio vacío */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main{
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 60px; 

  overflow-x: hidden; /* Oculta el espacio vacío */
}

.text{
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: 15;
  color: black;
  padding-top: 60px; 
}
.App-link {
  color: #61dafb;
}

.submitbtn[type="submit"] {
  width: 40%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px #b3b3b3;
  background-color: #03244D;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.inputfields{
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px #b3b3b3;
}
.textstyle{
  font-family: "font-mono";
}
 
.h1underlined{
  text-decoration: underline;
}

.title{
  font-size: 2rem;
  font-weight: bold;
  color: #03244D;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .title{
   font-size: 1rem;
  }
  .subtitle{
   font-size: 1rem;
  }
 }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

