.background-image-overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.title-container {
  width: 100%;
  max-width: 80%;
}

.form-container {
  width: 100%;
  padding: 1rem 0;
  height: auto;
  max-height: none;
  overflow-y: visible;
}

h1 {
  color: white;
  width: 100%;
  font-size: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.image-container img {
  flex: 1;
  max-width: 50%;
  max-height: 100%;
  margin: 0 1em;
}

.image-container img:first-child {
  margin-left: 0;
}


@media only screen and (max-width: 600px) {
  .overlay-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .title-container, .form-container {
    width: 50%;
    max-width: 60%;
  }
  .form-container {
    max-height: 50%;
    overflow-y: visible;
  }
  .image-container img {
    max-width: 100%;
    margin: 1em 0;
  }
}


@media only screen and (min-width: 600px) {
  .overlay-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .title-container, .form-container {
    width: 100%;
    max-width: 60%;
  }
  .form-container {
    max-height: 50%;
    overflow-y: visible;
  }
  .image-container img {
    max-width: 50%;
    margin: 1em 0;
  }
}


@media screen and (max-width: 600px) {
  .image-container img {
    max-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 10rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 10rem;
  }
}
@media only screen and (min-width: 1200px) {
  .overlay-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
  }
  .title-container, .form-container {
    width: 45%;
    max-width: 45%;
  }
  .form-container {
    max-height: none;
    overflow-y: visible;
  }
  .image-container img {
    max-width: 40%;
    margin: 0;
  }
  h1 {
    font-size: 5rem;
  }
}
