.destinos-wrapper {
    background-color: #f7f7f7;
    margin-bottom: 100px;
  }
  
  .imgDestinos {
    margin-left: 20px;
    max-width: 50%;
  }
  
  .titleDestinos{
   text-align: center;
   margin-top: 20px;
  margin-bottom: 30px;
  }

  

