.infoGeneral {
  text-align: center;
  margin: 20px;
}

.sqr {
  text-align: center;
  margin: 20px;
}

.lst {
  text-align: center;
  margin: 20px;
}

.tt {
  color: black;
}

.destinos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destinos-container > * {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
}

.read-more-button {
  height: 40px;
  background: #03244D;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
