.sqr{

    margin-bottom: 100px;
  }

  .tt{
    text-align: center;
  }

  .infoGeneral{
    margin-top: 100px;
  }

  .CrucerosGpg{
    margin-bottom: 200px;
  }

  .infoGeneral{
    margin-top: 0px;
  }