
.loginBtn{
    background-color: transparent;
  border: 2px solid #00BFFF; /* color celeste en hexadecimal */
  color: #00BFFF; /* color celeste en hexadecimal */
  padding: 10px 20px;
  cursor: pointer;
  width: 110px;
}

.btnRegistrar {
    background-color: #00BFFF;
  border: 2px solid #00BFFF; /* color celeste en hexadecimal */
  color: white; /* color celeste en hexadecimal */
  padding: 10px 20px;
  cursor: pointer;
  width: 110px;
}


.navbar{
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}