
  .h1S{
    color: black;
    padding-top: 60px;
    text-align: center;

  }
 
  
  img {
    max-width: 100%;
    height: auto;
    padding-top: 0.5px;
    border-radius: 15px;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;

  }

  .wrapperAbout {
    background-color: #f7f7f7;
  }
  
  
  