.h1TD {
  color: black;
  text-align: center;
}

.containerCards {
  height: auto;
  margin-top: 0;
}

.cardTD {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin: 10px auto;
  height: auto;
  max-width: 250px;
}

.containerCards {
  background-color: #d3d3d3;
}

.containerC {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  text-align: center; /* Se agrega esta propiedad */
  margin: 0 auto; /* Se agrega esta propiedad */
}
.destimg{
  width: 250px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


@media only screen and (max-width: 800px) {
  h2 {
    padding: 10px;
    margin: 0;
    padding-top: 50px;
    font-size: 1.0rem;
  }
   
  button {
    background-color: lightblue;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;

  }
  .h1TD {
    font-size: 1rem;
  }
  .btnTD {
    background-color: #00BFFF;
    border: 2px solid #00BFFF;
    color: white;
    padding: 5px 10px;
    font-size: 0.5rem;
 
    cursor: pointer;
    width: 80px !important;
    height: 40px !important;
    margin: 0 auto;
    
    

  }
 /*
  img{
    width: 110px !important;
    height: 70px !important;
  }
 */

  .destimg{
    width: 90px !important;
    height: 80px !important;
  }
 

}